<%
var name = database_module.valueForKey("settings", "name");
var guid = database_module.valueForKey("settings", "guid");
%>
<%- include title.ejs %>
Lab Server - Dashboard
<%- include header.ejs %>
<form role="form" action="/dashboard" method="post">
<table style="width:100%">
	<tr>
		<td valign="bottom">
			<h1>Dashboard</h1>
		</td>
		<td align="right" valign="middle">
			<a href="/dashboard" class="btn btn-danger" style="top:8px;position:relative;">
				Revert
			</a>
			<button type="submit" class="btn btn-primary" style="top:8px;position:relative;">
				<i class="fa fa-save"></i> &nbsp;Save
			</button>
		</td>
	</tr>
</table>

<table style="width:100%">
	<tr>
		<td>
              <div class="form-group">
                <label>Name</label>
                <input class="form-control" id="vendor-name" name="name"  value="<%= name %>">
              </div>
		</td>
	</tr>
</table>
<table style="width:100%">
	<tr>
		<td>
			  <div class="form-group">
                <label>GUID</label>
                <input class="form-control" id="vendor-guid" name="guid" value="<%= guid %>">
              </div>
		</td>
		<td align="right" valign="middle" style="width:90px">
			<button type="button" class="btn btn-default" style="top:5px;position:relative;" onClick="generateRandom('vendor-guid')">
				Generate
			</button>
		</td>
	</tr>
</table>
</form>

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

    <!-- Page Specific Plugins -->
    <script src="js/functions.js"></script>
<%- include footer.ejs %>