<%- include title.ejs %>
Lab Server - Editing
	<%
		var id = page_options.id;
		var broker_name = '';
		var broker_key  = '';
		var delete_url  = '';

		//Default permissions
		var permissions = {
			batched: true,
			batched_execution: 10,
			interactive: false, 
			interactive_max_session: 10,
			schedule: false,
			schedule_batched: false,
			schedule_interactive: false,
			js_engine: false,
			specifications: [],
			apis: []
		};

		function perms(key){
			return ((key in permissions) ? permissions[key] : false);
		}	
		function permsStr(key)
		{
			if (perms(key))
				return "checked";
			return "";
		}

		if (typeof id != 'undefined')
		{
			var broker_settings = database.valueForKey("brokers", id);
			if (typeof broker_settings !== 'undefined')
			{
				broker_name = broker_settings['name'];
				broker_key  = broker_settings['key'];

				if ("permissions" in broker_settings)
				{
					permissions = broker_settings['permissions'];

					if (typeof permissions.specifications === 'undefined')
						permissions.specifications = [];
					if (typeof permissions.apis === 'undefined')
						permissions.apis = [];
				}
			}

			delete_url = "delete_broker?id="+id;
		}
		else
		{
			id = '';
		}
	%>
	<%= broker_name%>
<%- include header.ejs %>
<form role="form" action="/edit_broker" method="post">
<input type="hidden" name="old_identifier" value="<%=id%>">
<% if (id != '') { %>
<h2>Editing <%= broker_name %></h2>
<%} else {%>
<h2>Add Broker</h2>
<%}%>
<hr>
<table style="width:100%">
	<tr>
		<td>
		 	 <div class="form-group">
               <label>Name</label>
               <input class="form-control" id="vendor-name" name="name" value="<%= broker_name%>">
             </div>
		</td>
	</tr>
</table>
<table style="width:100%">
	<tr>
		<td>
	 		<div class="form-group">
	    		<label>Identifier</label>
        		<input class="form-control" id="broker-guid" name="guid" value="<%=id%>">
        	</div>
		</td>
		<td align="right" valign="middle" style="width:90px">
			<button type="button" class="btn btn-default" style="top:5px;position:relative;" onClick="generateRandom('broker-guid')">
				Generate
			</button>
		</td>
	</tr>
	<tr>
		<td>
	 		 <div class="form-group">
                <label>Key</label>
                <input class="form-control" id="broker-key" name="passkey" value="<%= broker_key%>">
             </div>
		</td>
		<td align="right" valign="middle" style="width:90px">
			<button type="button" class="btn btn-default" style="top:5px;position:relative;" onClick="generateRandom('broker-key')">
				Generate
			</button>
		</td>
	</tr>
</table>
<h3>Permissions</h3>

<!-- Batched -->
<div class="checkbox">
	<div class="bs-callout bs-callout-success">
		<label>
			<% var is_checked = permsStr("batched"); %>
			<input name="batched" type="checkbox" <%=is_checked%>> <h4>Batched</h4>
		</label>
		<p>This permission allows the service broker to submit batched experiments. Batched experiments use a predefined specification to send commands to the validator.</p>
		<hr/>
		<h5>Specifications (<a href="">Select all</a>)</h5>
<%
	//Get a list of specifications from the js_specifications folder.
	var files = fs.readdirSync('./js_specifications/');
	var i;
	for (i=0; i < files.length; i++)
	{
		var extension = path.extname(files[i]);
        if (extension == ".js") {
            var plugin_name = files[i].slice(0, -3);
			var checked = (permissions.specifications.indexOf(plugin_name) != -1) ? "checked":"";
		%>
		<div class="checkbox">
			<label>
				<input name="specification_<%= plugin_name%>" type="checkbox" <%= checked%>> <%= plugin_name%>
			</label>
		</div>
		<%
		}
	}
%>
		<!--<hr/>
		<h5>Maximum execution time (minutes)</h5>
		<div class="form-group">
			<% var batch_session = perms("batched_execution"); %>
	    	<input name="batched_execution" type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter maximum time per experiment in minutes" value="<%= batch_session %>">
	  	</div>-->
	</div>
</div>

<div style="display:none">
<!-- Interactivity -->
<% var is_checked = permsStr("interactive"); %>
<div class="checkbox">
	<div class="bs-callout bs-callout-warning">
		<label>
			<input name="interactive" type="checkbox" <%=is_checked%>> <h4>Interactivity</h4>
		</label>
		<p>This permission allows the service broker to submit interactive experiments. Interactive experiments give the broker direct access to the validator and equipment API for a specified amount of time.</p>
		<hr/>
		<h5>API (<a href="">Select all</a>)</h5>
<%
	//Get a list of api functions from the js_specifications folder.
	var actions = Object.keys(js_actions.actions);
	var i;
	for (i=0; i < actions.length; i++)
	{
        var action_name = actions[i];
		var checked = (permissions.apis.indexOf(action_name) != -1) ? "checked":"";
		%>
		<div class="checkbox">
			<label>
				<input name="interactive_api_<%= action_name%>" type="checkbox" <%= checked %>> <%= action_name%>
			</label>
		</div>
		<%
	}
%>
		<hr/>
		<h5>Maximum session time (minutes)</h5>
		<% var interactive_session = perms("interactive_max_session"); %>
		<div class="form-group">
			<input name="interactive_execution" type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter maximum time per interactive session in minutes" value="<%= interactive_session %>">
		</div>
	</div>
</div>

<!-- Scheduling -->
<div class="checkbox">
	<div class="bs-callout bs-callout-warning">
		<h4>Scheduling</h4>
		<p>These permissions allows the service broker to reserve times on the
			<a href="schedule">
				<span class="glyphicon glyphicon-calendar">
			</span> Schedule</a>
		</p>
		<hr/>
		<h5>Type (<a href="">Select all</a>)</h5>
		<div class="checkbox">
			<label>
				<% var is_checked = permsStr("schedule_batched"); %>
				<input name="schedule_batched" type="checkbox" <%= is_checked%>> Batched
			</label>
		</div>
		<div class="checkbox">
			<label>
				<% var is_checked = permsStr("schedule_interactive"); %>
				<input name="schedule_interactive" type="checkbox" <%= is_checked%>> Interactive
			</label>
		</div>
	</div>
</div>
</div>

<!-- JSEngine -->
<% var is_checked = permsStr("js_engine"); %>
<%= is_checked %>
<div class="checkbox">
<div class="bs-callout bs-callout-danger">
<label>
<input name="jsengine" type="checkbox" <%=is_checked%>> <h4>Javascript engine</h4>
</label>
<p>This permission allows the service broker to submit javascript specifications.<br/>This allows user-defined code to executed on the lab server instead of providing parameters for a predefined specification. <code>Do not enable this option for untrusted brokers.</code></p>
</div>
</div>

<!-- Buttons -->
<div align="right">
<% if (id && id != '')
   {
%>
<a href="<%=delete_url%>" class="btn btn-danger" style="top:8px;position:relative;width:85px">Delete</a>
<% } %>

<a href="/brokers" class="btn btn-warning" style="top:8px;position:relative;width:85px">
	Cancel
</a>
<button type="submit" class="btn btn-primary" style="top:8px;position:relative;width:85px">
	<i class="fa fa-save"></i> &nbsp;Save
</button>
</div>
<br/><br/>
</div>
				
	</form>

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

    <!-- Page Specific Plugins -->
    <script src="js/functions.js"></script>
<%- include footer.ejs %>