<%- include title.ejs %>
Service Broker - Lab Servers
<%- include header.ejs %>
<div class="dropdown pull-right" style="margin-top:4px">
	<a class="btn dropdown-toggle" href="edit_agent" type="button">
	    New
	</a>
</div>
<h4>Agents</h4>
<hr>
<div class="table-responsive" style="display:block;">
	<table class="table table-hover">
		<thead>
			<tr>
			<th class="header headerSortUp">Name</th>
			<th class="header">GUID</th>
			<th class="header"></th>
			</tr>
		</thead>
		<tbody id="wrappers-table">
<% 
var wrappers = database.getKeys("wrappers");
var i;
for (i=0; i < wrappers.length; i++)
{
	var wrapper_data = database.valueForKey("wrappers", wrappers[i], undefined);
	var wrapper_guid = wrapper_data['guid'];
	var wrapper_name = wrappers[i];
	var edit_url = "edit_agent?id=" + wrapper_name;
%>
<tr>
	<td><%= wrapper_name %></td>
	<td><%= wrapper_guid %></td>
	<td align="right"><a href="<%= edit_url %>">Edit</a>
	</td>
</tr>
<%
}
%>
		</tbody>
	</table>
</div>
<%- include footer.ejs %>