<%
var id 			= "";
var server_data	= undefined;
var guid		= "";
var passkey		= "";
var function_access	= "";
var server_access = "";

var show_delete = false;
if ('id' in page_options && typeof page_options.id !== 'undefined')
{
	id 			= page_options.id;
	server_data = database.valueForKey("wrappers", id);

	if ('guid' in server_data) guid = server_data["guid"];
	if ('key' in server_data) passkey = server_data["key"];
	if ('function' in server_data) function_access = server_data["function"];
	if ('server' in server_data) server_access = server_data["server"];

	show_delete = true;
}
%>
<%- include title.ejs %>
<% if (show_delete) { %>
Service Broker - <%= id %>
<% } else { %>
Service Broker - New Agent Server
<% } %>
<%- include header.ejs %>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
	<br/>
      <div class="modal-body" align="center">
        <h5 class="modal-title" id="myModalLabel">Are you sure you want to delete <%= id %>?</h5>
      </div>
      <div class="modal-footer">
		<form role="form" action="/agent_delete" method="post">
			<input type="hidden" name="identifier" value="<%= id %>"/>
	        <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button>
			<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		</form>
      </div>
    </div>
  </div>
</div>
<% if (show_delete) { %>
<h4>Editing <%= id %></h4>
<% } else { %>
<h4>New Agent</h4>
<% } %>
<hr>

<form role="form" action="/edit_agent" method="post">
	<input name="old_identifier" type="hidden" value="<%= id %>">
	<div class="form-group">
		<label>Name</label>
		<input class="form-control" name="name" value="<%= id %>">
	</div>
	<table style="width:100%">
		<tr>
			<td>
			  	<div class="form-group">
					<label>GUID</label>
					<input class="form-control" name="guid" id="agent-guid" value="<%= guid %>">
			 	</div>
			</td>
			<td align="right" valign="middle" style="width:90px">
				<button type="button" class="btn btn-default" style="top:5px;position:relative;" onClick="generateRandom('agent-guid')">
					Generate
				</button>
			</td>
		</tr>
	</table>
	<table style="width:100%">
		<tr>
			<td>
			  	<div class="form-group">
					<label>Passkey</label>
					<input class="form-control" name="key" id="agent-passkey" value="<%= passkey %>">
				</div>
			</td>
			<td align="right" valign="middle" style="width:90px">
				<button type="button" class="btn btn-default" style="top:5px;position:relative;" onClick="generateRandom('agent-passkey')">
					Generate
				</button>
			</td>
		</tr>
	</table>
	<br/>
	<h4>Experiment access</h4>
	<!--<div align="right" style="margin-top:-30px">
		<a>Select All</a>
	</div>
	<br/>-->
	<div class="table-responsive" style="display:block;">
		<table class="table">
			<tbody>
			<%
				var servers = database.getKeys("servers");
				for (i=0; i < servers.length; i++)
				{
					var is_checked = '';
					var server_name = servers[i];
					if (show_delete)
					{
						var isEnabled = server_access[servers[i]];
						if (isEnabled)
						{
							is_checked = 'checked="yes"';
						}
					}

					%>
					<tr>
						<td align="right" style="width:30px">
							<input type="checkbox" name="<%= server_name %>" <%= is_checked %>></input>
						</td>
						<td><%= server_name %>
						</td>
					</tr>
					<%
				}
			%>
			</tbody>
		</table>
	</div>
	<br/>
	<h4>Function access</h4>
	<!--<div align="right" style="margin-top:-30px">
		<a>Select All</a>
	</div><br/>-->
	<div class="table-responsive" style="display:block;">
		<table class="table">
			<tbody>
			<%
				var acceptedMethods = ["getBrokerInfo", "getLabList", "getLabStatus", "getLabConfiguration", "getExperimentStatus", "getEffectiveQueueLength", "retrieveResult", "cancel", "submit", "validate", "registerWrapper", "registerSimpleWrapper", "getAgentInfo"];
				for (i=0; i < acceptedMethods.length; i++)
				{
					var method_name = acceptedMethods[i];
					var is_checked = 'checked="yes"';
					if (show_delete)
					{
						var isEnabled = function_access[acceptedMethods[i]];
						if (!isEnabled)
						{
							is_checked = "";
						}
					}
					%>
					<tr>
						<td align="right" style="width:30px">
							<input type="checkbox" name="<%= method_name %>" <%= is_checked %>></input>
						</td>
						<td><%= method_name %>
						</td>
					</tr>
					<%
				}
			%>
			</tbody>
		</table>
	</div>
	
	<div align="right">
	<% if (show_delete) { %>
	<button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button>
	<% } %>	
		<a href="agents" class="btn btn-warning"><span class="glyphicon glyphicon-ban-circle"></span> Cancel</a>
		<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
	</div>
	<br/>
</form>

<%- include footer.ejs %>