<%- include title.ejs %>
Service Broker - Lab Servers
<%- include header.ejs %>
<meta http-equiv="refresh" content="20" >
<div class="dropdown pull-right" style="margin-top:4px">
	<a href="flush_servers" class="btn dropdown-toggle" type="button">
	    <span class="glyphicon glyphicon-refresh"></span> Reconnect
	</a>
	<a class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
	    New
	    <span class="caret"></span>
	</a>
	<ul class="dropdown-menu" id="experiment-list">
		<li><a href="modern">Modern <font color='#AAAAAA'><span style="font-size:8px;position:absolute;right:20px;top:13px;">REST</span></font></a></li>
		<li><a href="legacy">Legacy <font color='#AAAAAA'><span style="font-size:8px;position:absolute;right:20px;top:40px;">SOAP</span></font></a></li>
	</ul>
</div>
<h4>Lab Servers</h4>
<hr>

<% 
var show_advanced = false;
if ('advanced' in page_options)
{
	show_advanced = true;
}

var has_row = false;
var servers_per_row = 3;
var servers = database.getKeys("servers");
var i;
for (i=0; i < servers.length; i++)
{
	if (i % servers_per_row == 0)
	{
		if (has_row)
		{
			%></div><%
			has_row = false;
		}

		//Create a new row of servers
		has_row = true;
		%>
		<div class="row">
		<%
	}

	var server_name = servers[i];
	var lab_server = server_module.getServer(server_name);

	var server_status = 0;
	var server_error  = '';
	var server_image  = '';
	var server_type   = database.valueForKey("servers", server_name)["type"];
	server_type = (typeof server_type !== 'undefined')? server_type:"legacy";

	var edit_url = server_type+"?id=" + server_name;
	var edit_url_advanced = server_type+"_debug?id=" + server_name;
	if (lab_server)
	{
		server_error = server_module.getErrors(server_name);
		var obj = server_module.getServerConfiguration(server_name);

		if (typeof obj !== 'undefined')
		{
			if ('labConfiguration' in obj)
			{
		        var labConfig = obj['labConfiguration'];
		
				if (typeof labConfig !== 'undefined')
				{
					//Find a photo
					var labCamera = labConfig['navmenuPhoto'];
					var photoURL = "";
					for (var m = 0; m < labCamera.length; m++)
					{
						var urls = labCamera[m]['image'];
						for (var a = 0; a < urls.length; a++)
						{
							server_image = urls[a];
						}
					}
				}
			}
		}
		else
		{
			server_status = 2;
			server_error = "An error occured. See log.";
		}
	}
	else
	{
		server_error = server_module.getErrors(server_name);
		if (typeof server_error == 'undefined')
		{
			server_status = 1;
			server_error = "Attempting connection to " + database.valueForKey("servers", server_name)["host"];
		}
		else
		{
			server_status = 2;
		}
	}
%>
<div class="col-md-3" style="padding:10px;border-style:solid;border-width:1px;border-color:#EEEEEE;margin-left:8px;margin-right:8px;margin-top:10px;width:30%">

	
	<a href="<%= edit_url %>"><span class="glyphicon glyphicon-edit"/></span></a>
	
	<% if (server_type == "legacy" && show_advanced) { %>
	<a href="<%= edit_url_advanced %>"><span class="glyphicon glyphicon-screenshot"/></span></a>
	<% } %>

	<a href="<%= edit_url %>">

	<% if (server_status == 0) { %>
		<font color="#0000FF"><bold><%= server_name %></bold></font></a>
		<br/><small><%= server_error %></small><br/>
		<img src="<%= server_image %>" class="img-thumbnail"></img>
	<% } else if (server_status == 1) { %>
		<font color="#FFAA00"><bold><%= server_name %></bold></font></a>
		<br/><small><%= server_error %></small>
	<% } else { %>
		<font color="#FF0000"><bold><%= server_name %></bold></font></a>
		<br/><small><%= server_error %></small>
	<% } %>
</div>
<%
}
if (has_row)
{
	%></div><%
}
%>

<%- include footer.ejs %>