
<%
var id 			= "";
var log_content	= "";
if ('id' in page_options && typeof page_options.id !== 'undefined')
{
	id 			= page_options.id;

	var log_file = 'logs/' + id + '.log';
	log_content = fs.readFileSync(log_file, 'utf8');
}
%>
<%- include title.ejs %>
Service Broker - <%= id %> (Advanced)
<%- include header.ejs %>

<h4><%= id %> <font color="#AAAAAA">(Legacy)</font></h4>
<hr>
<pre><xmp><%= log_content %></xmp></pre>
<%- include footer.ejs %>