
<%
var id 			= "";
var server_data	= "";
var host		= "";
var service		= "";
var key			= "";
var show_delete = false;
if ('id' in page_options && typeof page_options.id !== 'undefined')
{
	id 			= page_options.id;
	server_data = database.valueForKey("servers", id);

	if ('host' in server_data) host = server_data["host"];
	if ('service' in server_data) service = server_data["service"];
	if ('key' in server_data) key = server_data["key"];
	show_delete = true;
}
%>
<%- include title.ejs %>
<% if (show_delete) { %>
Service Broker - <%= id %>
<% } else { %>
Service Broker - New Lab Server
<% } %>
<%- include header.ejs %>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
	<br/>
      <div class="modal-body" align="center">
        <h5 class="modal-title" id="myModalLabel">Are you sure you want to delete <%= id %>?</h5>
      </div>
      <div class="modal-footer">
		<form role="form" action="/legacy_delete" method="post">
			<input type="hidden" name="identifier" value="<%= id %>"/>
	        <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button>
			<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		</form>
      </div>
    </div>
  </div>
</div>

<h4>Editing <%= id %> <font color="#AAAAAA">(Legacy)</font></h4>
<hr>
<form role="form" action="/legacy" method="post">
	<input type="hidden" name="old_identifier" value="<%= id %>"/>
	<div class="form-group">
		<label>Identifier</label>
		<input class="form-control" name="identifier" value="<%= id %>" placeholder="New Lab Server">
	</div>
	<div class="form-group">
		<label>Host</label>
		<input class="form-control" name="host" value="<%= host %>" placeholder="ilab.example.com:3000">
	</div>
	<div class="form-group">
		<label>Service</label>
		<input class="form-control" name="service" value="<%= service %>" placeholder="/LabServer/LabServerWebService.asmx">
	</div>
	<div class="form-group">
		<label>Password</label>
		<input class="form-control" name="passkey" value="<%= key %>">
	</div>
	<div align="right">
		<% if (show_delete) { %>
		<button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button>
		<% } %>		
		<a href="labs" class="btn btn-warning"><span class="glyphicon glyphicon-ban-circle"></span> Cancel</a>
		<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
	</div>
</form>
<%- include footer.ejs %>